<h3>Timeline-Manager (Backend)</h3>

<form>

  <input type="text" [(ngModel)]="timeline_title" name="userInputTitle">
  <input type="text" [(ngModel)]="timeline_description" name="userInputDescription">
  <button (click)="addTimeline(timeline_title, timeline_description)">Add Timeline</button>
</form>

<div class="grid-item" *ngFor="let timeline of timelines | async">

  <div class="timeline-title">
    {{timeline.title}} :: {{timeline.description}}
  </div>

  <form>

    <input type="text" [(ngModel)]="timeline.event_date" name="userInputDate + timeline.key">
    <input type="text" [(ngModel)]="timeline.event_description" name="userInputEvent">

    <button class="addEventButton" (click)="addEvent(timeline)">Add Event</button>

    <div class="event-title">Events:</div>

    <div *ngFor="let datapoint of timeline.datapoints | values">

      {{datapoint.time}} :

      <!-- <input type="text" [(ngModel)]="datapoint.event" name="userInputEvent + event.key">-->

      <input type="text" [(ngModel)]="datapoint.event" name="datapointEvent +datapoint.event.key">
      <button class="editEventButton" (click)="editEvent(datapoint.time, datapoint.event)">Edit Event</button>

    </div>

  </form>

</div>
