.timeline-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &>li {
    min-width: 240px;
    width: 32%;
    display: inline-block;
    margin: 0 1% 1% 0;

  }
}
