<div class="mdl-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent main-header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-title main-header__title">Timelines</div>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['']">Home</a>
        <a class="mdl-navigation__link" [routerLink]="['/about']">About</a>
      </nav>
      <login-status></login-status>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <div class="mdl-layout-title main-header__title">Timelines</div>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['']">Home</a>
      <a class="mdl-navigation__link" [routerLink]="['/about']">About</a>
    </nav>
    <login-status></login-status>
  </div>
  <main class="mdl-layout__content">
    <header class="content-header">
      <div class="content-header__image"></div>
    </header>
    <section class="main-content">
      <router-outlet></router-outlet>
    </section>
    <footer class="mdl-mini-footer page-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo page-footer__logo">Timelines</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/timeline-manager']">Timeline Manager</a></li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
        <div class="page-footer__legal">&copy;2016 by Timelines</div>
      </div>
    </footer>
  </main>
</div>

